<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Hotel Dashboard Template</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">
  <link rel="stylesheet" href="assets/css/feathericon.min.css">
  <link rel="stylesheet" href="assets/plugins/morris/morris.css">
  <link rel="stylesheet" href="assets/css/style.css"> </head>

<body>
<div class="main-wrapper">
  <div class="header">
    <div class="header-left">
      <a th:href="@{/}" class="logo"> <img src="assets/img/hotel_logo.png" width="50" height="70" alt="logo"> <span class="logoclass">KHÁCH SẠN</span> </a>
      <a th:href="@{/}" class="logo logo-small"> <img src="assets/img/hotel_logo.png" alt="Logo" width="30" height="30"> </a>
    </div>
    <a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
    <a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
    <ul class="nav user-menu">
      <li class="nav-item dropdown noti-dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span> </a>
        <div class="dropdown-menu notifications">
          <div class="topnav-dropdown-header"> <span class="notification-title">Thông báo</span> <a href="javascript:void(0)" class="clear-noti"> Clear All </a> </div>
          <div class="noti-content">
            <ul class="notification-list">
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
                                            </span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                      <p class="noti-time"><span class="notification-time">4 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-11.jpg">
                                            </span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">International Software
                                                    Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                      <p class="noti-time"><span class="notification-time">6 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-17.jpg">
                                            </span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone
                                                    XR</span></p>
                      <p class="noti-time"><span class="notification-time">8 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="notification-message">
                <a href="#">
                  <div class="media"> <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-13.jpg">
                                            </span>
                    <div class="media-body">
                      <p class="noti-details"><span class="noti-title">Mercury Software
                                                    Inc</span> added a new product <span class="noti-title">Apple
                                                    MacBook Pro</span></p>
                      <p class="noti-time"><span class="notification-time">12 mins ago</span> </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="topnav-dropdown-footer"> <a href="#">Thông báo</a> </div>
        </div>
      </li>
      <li class="nav-item dropdown has-arrow" th:if="${#authorization.expression('isAuthenticated()')}">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy"></span> </a>
        <div class="dropdown-menu">
          <div class="user-header">
            <div class="avatar avatar-sm"> <img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle"> </div>
            <div class="user-text">
              <span sec:authentication="name"></span>
              <p class="text-muted mb-0">Hotel Owner</p>
            </div>
          </div> <a class="dropdown-item" th:href="@{/hotelOwnerProfile}">Thông tin cá nhân</a> <a class="dropdown-item" href="settings.html">Cài đặt</a> <a class="dropdown-item" th:href="@{/logout}">Logout</a> </div>
      </li>
    </ul>
  </div>
  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <li> <a href="index.html"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>
          <li class="list-divider"></li>
          <li class="submenu"> <a href="#"><i class="fas fa-suitcase"></i> <span> Lịch đặt phòng </span> <span class="menu-arrow"></span></a>
            <ul class="submenu_class" style="display: none;">
              <li><a th:href="@{/listBooking}"> Lịch đặt phòng </a></li>

            </ul>
          </li>
          <li class="submenu"> <a href="#"><i class="fas fa-user"></i> <span> Quản lý DOM </span> <span class="menu-arrow"></span></a>
            <ul class="submenu_class" style="display: none;">
              <li><a class="active" th:href="@{/homepageDom}"> Tất cả DOM </a></li>

            </ul>
          </li>




        </ul>
      </div>
    </div>
  </div>
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <div class="mt-5">
              <h4 class="card-title float-left mt-2">Quản lý DOM</h4> <a sec:authorize="hasRole('ADMIN')" th:href="@{/showFormCreDom}" class="btn btn-primary float-right veiwbutton">Thêm mới</a> </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-table">
            <div class="card-body booking_card">
              <div class="table-responsive">
                <table class="datatable table table-stripped table table-hover table-center mb-0">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>TÊN</th>
                    <th>ĐỊA CHỈ</th>
                    <th>TRẠNG THÁI</th>
                    <th class="text-right">HOẠT ĐỘNG</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="d : ${doms}">
                    <td th:text="${d.getId()}"></td>
                    <td th:text="${d.getNameOfDom()}"></td>
                    <td th:text="${d.getAddressOfDom()}"></td>

                    <td>
                      <div class="btn btn-sm bg-success-light mr-2" th:text="${d.getStatus()} ? 'ACTIVE' : 'RETIRED'"></div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown dropdown-action"> <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                        <div sec:authorize="hasRole('ADMIN')" class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" th:href="@{findOne/{id}(id=${d.id})}"><i class="fas fa-pencil-alt m-r-5"></i> SỬA</a>
                          <a class="dropdown-item delBtn" th:href="@{delete/(id=${d.id})}"><i class="fas fa-trash-alt m-r-5"></i> XÓA</a>
                          <a class="dropdown-item" th:href="@{/manageRoom/__${d.getId()}__ }"><i class="fas fa-pencil-alt m-r-5"></i> QUẢN LÝ PHÒNG</a>
                        </div>

                        <div sec:authorize="hasRole('USER')" class="dropdown-menu dropdown-menu-right">

                          <a class="dropdown-item" th:href="@{/manageRoom/__${d.getId()}__ }"><i class="fas fa-pencil-alt m-r-5"></i> BOOK PHÒNG</a>
                        </div>
                      </div>
                    </td>

                  </tr>



                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
         role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Xóa bản ghi</h5>
            <button aria-label="Close" class="close" data-dismiss="modal"
                    type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="alert alert-danger">
              Bạn có chắc muốn xóa?
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal"
                    type="button">Đóng
            </button>
            <a class="btn btn-danger" href="" id="delRef">Xóa</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/datatables.min.js"></script>
<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/raphael/raphael.min.js"></script>
<script src="assets/js/script.js"></script>
<script>

  $(document).ready(function () {
    $('.delBtn').on('click', function (event) {
      event.preventDefault();
      var href = $(this).attr('href');
      $('#myModal #delRef').attr('href', href);
      $('#myModal').modal();
    });
  });
</script>
</body>

</html>
